/**** extra small devices*****/

@media screen and (max-width: 600px) {
  #restaurants-list li{
    width: 100%;
  }

  .filter-options{
    width: 100%;
    height: auto;
    text-align: center;
  }

  .filter-options h2 {
    font-size: 1.5rem;
  	width: 100%;
  	padding-top: 10px;
  }
/****restaurant details****/
  .inside{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .inside header{
    position: relative;
  }
  header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
  }
  header nav{
    width: 100%;
  }
  header #breadcrumb li{
    font-size: large;
  }
  header #breadcrumb{
    width: 100%
  }
  #breadcrumb{
    text-align: center;
  }
  #maincontent{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%
  }
  #maincontent #map-container{
    top: 0px;
    width: 100%;
    height: 400px;
    padding-top: 0px;
    position: relative;

  }

  #maincontent #restaurant-container{
    width: 100%;
    padding-top: 30px;
    align-items: center;
  }
  #restaurant-address{
    font-size: 2em;
  }
  #restaurant-hours tr td{
    font-size: 1.5em;
  }
  #maincontent #reviews-container{
    width: 100%;
  }
  #reviews-list li p{
    font-size: 1.5em;
  }
  .inside #footer{
    width: 100%;
  }
}

/**** small device (portrait tablets and large phones)****/

@media screen and (min-width: 600px) {
  #restaurants-list li{
    width: 32%;
  }

  .filter-options{
    width: 100%;
    height: auto;
    text-align: center;
  }

  .filter-options h2 {
    font-size: 1.5rem;
    width: 100%;
    padding-top: 10px;
  }

  /****restaurant details****/
  .inside{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .inside header{
    position: relative;
  }
  header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
  }
  header nav{
    width: 100%;
  }

  header #breadcrumb li{
    font-size: large;
  }
  header #breadcrumb{
    width: 100%
  }
  #breadcrumb{
    text-align: center;
  }
  #maincontent{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%
  }
  #maincontent #map-container{
    top: 0px;
    width: 100%;
    height: 400px;
    padding-top: 0px;
    position: relative;

  }

  #maincontent #restaurant-container{
    align-content: center;
    align-items: center;
    width: 100%;
    padding-top: 30px;
  }
  #restaurant-address{
    font-size: 2em;
  }
  #restaurant-hours tr td{
    font-size: 1.5em;
  }
  #maincontent #reviews-container{
    width: 100%;
  }
  #reviews-list li p{
    font-size: 1.5em;
  }
  .inside #footer{
    width: 100%;
  }

}

/**** medium devices (landscape tablets )****/

@media screen and (min-width: 768px) {
  #restaurants-list li{
    width: 35%;
  }

  .filter-options{
    width: 100%;
    height: auto;
    text-align: center;
  }

  .filter-options h2 {
    font-size: 1.5rem;
    width: 100%;
    padding-top: 10px;
  }

}

/****large devices (laptops and desktops)****/

@media screen and (min-width: 992px) {

  #restaurants-list li{
    width: 23.5%;
  }

  .filter-options{
    width: 100%;
    height: auto;
    text-align: center;
  }

  .filter-options h2 {
    font-size: 1.5rem;
    width: 100%;
    padding-top: 10px;
  }

  /****restaurant details****/
  .inside{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .inside header{
    position: relative;
  }
  header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
  }
  header nav{
    width: 100%;
  }

  header #breadcrumb li{
    font-size: large;
  }
  header #breadcrumb{
    width: 100%
  }
  #breadcrumb{
    text-align: center;
  }
  #maincontent{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%
  }
  .inside #maincontent #map-container{
    top: 105px;
    left: 50px;
    width: 40%;
    height: 810px;
    padding-top: 0px;
    position: relative;

  }

  #maincontent #restaurant-container{
    align-content: center;
    align-items: center;
    width: 40%;
    padding-top: 30px;
    padding-left: 100px;
  }
  #restaurant-address{
    font-size: 2em;
  }
  #restaurant-hours tr td{
    font-size: 1.5em;
  }
  #maincontent #reviews-container{
    width: 100%;
  }
  #reviews-list li p{
    font-size: 1.5em;
  }
  .inside #footer{
    width: 100%;
  }

}
